.main-container {
  width: 80%;
  padding: 6%;
  height: 150px;
  padding-right: 20%;
 }
.navbar {
  overflow: hidden;
  background-color:rgb(106, 180, 223);
  font-family: Arial;
  padding-left: 29%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .products{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}
.navbar a:hover, .dropdown:hover  {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color:white
}
.dropdown:hover .dropdown-content {
  display: block;
}
.info-container {
  width: 96%;
  display: block;
  background-color: rgb(183, 131, 207);
  margin-top: 3px;
  padding: 2%;
}
.info-photo{
  display: inline-block;
  width: 50%;
  height: 40%;
  margin-bottom: 30px;
  padding: 1%;
}
.info-wrapper {
  margin-top: -7px;
}
.info-content {
  display: inline-block;
  width: 70%;
  margin-left: -257px;
  margin-bottom: 30px;
  font-size: 17px;
}
.content-wrapper{
  margin-bottom: 20px;
  font-size: 16px;
}