.main
{
  border: solid;
  width: 69%;
 background: skyblue;
 font-style: italic;
}
.header
{
    border: solid;
    width: 100%;
    height: 60px;
    padding: 2%;
    text-align: center;
     background: pink;
     
     
}
 .name
 {
      position: absolute;
    font-style: italic;
    position: relative;
    font-size: 3rem;
    bottom: 316%;
 }
.main-container
{
  border: solid;
   
    padding: 1%;
    width: 87%;
    margin: 8%;
    position: relative;
}
.image
{
         border: solid;
    width: 34%;
    
    padding: 2%;
    display: inline-block;
    margin: 2%;
    background: pink
}
.register
{
      display: inline-block;
    position: absolute;
    top: 33%;
        left: 43%;
        background: pink
}
.items
{
          border: solid;
    padding: 2%;
    width: 37%;
    
    display: inline-block;
    margin: 2%;
    position: absolute;
    left: 56%;
    background: pink
}
.items-header{
  font-weight: 2%;
}
.footer
{
  border: solid;
      padding: 2%;
        background: pink;
        
        
}
.footer-content {
  margin-left: 85%;
}