.main-container{
    width: 1300px;
    height: 900px;
    margin:auto;
}
.nav-section{
    width: 92%;
    height:9%;
    background-color:#808080;
    border: 4px solid;
    margin: auto;
    border-color: #000;
    
}
.heading{
    width:100%;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    padding-top: 2%;
}
h1{
    margin-top: 5px;
}
.container{
    width: 92%;
    height: 50%;
    border: 3px solid #000000;
    margin: auto;
    margin-top: 40px;
    
    padding: auto;
    background-color: #e0d5d6;
}
.mode{
    margin-top: 80px;
    margin-bottom: 30px;
    padding-left: 300px;
    font-size: 1.5em;
}
.duration{

    margin-bottom: 30px;
    padding-left: 300px;
    font-size: 1.5em;
}
.shape{
    margin-bottom: 30px;
    padding-left: 300px;
    font-size: 1.5em;
}
.button{
    margin-top: 50px;
    padding-left: 470px;
    font-size: 2em;
   
   
}
.btn1 {
    border: 1px solid;
    height: 35px;
    width: 70px;
    border-radius: 8px;
    background-color: rgb(209, 204, 204);
}
