.main-container{
    width: 1300px;
    height: 900px;
    margin:auto;
}
.nav-section{
    width: 92%;
    height:9%;
    background-color:#808080;
    border: 4px solid;
    margin: auto;
    border-color: #000;
    
}
.heading{
    width:100%;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    padding-top: 2%;
}
.body{
   margin: auto;
   margin-top: 8px;
  width: 1100px;
  height:900px;
  padding: 2px;
  background-color:#c7c2c2;
  border: #000 3px solid;
  
}
.dots-wrapper{
  width: 750px;
  height:500px;
  padding: 2px;
  position: absolute;
  margin-left: 234px;
  border: 4px solid #c7c2c2;
  background-color: #808080;
  margin: auto;
  margin-left: 50px;
}
#dot:hover {
  cursor: pointer;
}

#dot {
  height: 20px;
  width: 20px;
  background-color:#ffffff;
  border-radius: 50%;
  position: absolute;
  top:8%;
  right: 27%;
}
.score-wrapper{
  font-size: 2em;
  color:#ffffff;
}
#score{
  font-size: 1em;
  color:#ffffff;
  display: inline-block;
}
