.main-container{
    width: 1355px;
    height: 1500px;
    margin:auto;
}
.section-nav{
    width: 100%;
    height:5%;
    background-color:#808080;
    border: 2px solid;
    
}
.nav-heading{
    width:30%;
    font-size: 2em;
    color: #000;
    text-align: center;
    padding-top: 2%;
    float: left;
    

}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid;
    background-color: #FFFFFF	;
  }
  
  li a:hover:not(.active) {
    background-color:#FFFFFF	;
  }
  
  .active {
    background-color:rgb(66, 119, 233);
  }
  .nav-menu {
    width: 40%;
    float: left;
    margin-left: 100px;
}

.list{
  margin-left: 62px;
}
.items {
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -25px;
   
}

.login{
    padding-top: 2%;
    color: 	#0000FF;
}


.section-body {
    width: 90%;
    margin: auto;
}
.subsection-header{
    border: 2px solid #000;
    height: 30%;
    width: 90%;
    margin: auto;
    margin-top: 7%;
}
.heading {
    text-align: center;
    font-size: 3em;
    color: #000;
    padding-top: 10%;
}
.paragraph {
    text-align: center;
    font-size: 20px;
    padding-top: 7%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 1%;
    padding-bottom: 5%;
}


/* thirdsection css start */
.info-section-wrapper {
  width: 100%;
  float: left;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}
  .info-section-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    border: 2px solid;
  }
  .left-side {
    width: 58%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .left-side-header {
    width: 100%;
    font-size: 30px;
    padding: 20px;
  }
  .align-row {
    display: flex;
  }
  .row-content-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
  }
  
  .row figure {
    width: 40px;
    height: 40px;
  }
  .row figure img {
    width: 100%;
    height: 100%;
  }
  
  .content-wrapper {
    padding: 0 10px;
  }
  .row-title {
    font-size: 1.5em;
    margin: 10px 0;
  }
  .right-side {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    height: 521px;
    border-left: 2px solid;
}
  .contact-btn-wrapper {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35px;
    color: #000;
    border: 2px solid;
    background-color: #808080;
    box-shadow: 11px 8px 8px 0px rgb(0 0 0 / 68%);
  }
  .contact-btn {
    width: 90%;
    text-align: center;
    font-size: 1em;
    padding: 10px 20px;
    font-weight: bold;
  }
  .contact-btn .btn {
    color:#000;
    text-decoration: none;
  }
  .future-event-wrapper {
    padding-top: 20px;
    margin-top: 20px;
  }
  .future-event-heading {
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
  }
  .future-event-sub-heading {
    font-size: 1.2em;
    width: 100%;
    margin-top: 10px;
  }
  .events-date-wrapper {
    width: 100%;
    margin-top: 10px;
    line-height: 1.2;
  }
  .event .event-date {
    margin-left: 5px;
  }
  .past-event-wrapper {
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .past-event-heading {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
  }
  .past-events {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.165);
    line-height: 1;
    border: 2px solid;
  }
  
.past-event {
    width: 100%;
    height: 37px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
 
  .past-event:hover {
    background-color: #ededed;
  }
  .past-events a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
  }
  .social-media-icon{
    display: flex;
    flex-direction: row;
  }
  .icon{
    height: 2px;
  }
/* footer css start */ 
.footer-section {
  margin-top: 10px;
  padding-top: 10px;
}
.footer-section-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-top: 2px solid;
}
.footer-sub-section-heading {
  font-size: 2em;
  margin: 20px 0;
}
.footer-sub-section-links {
  line-height: 1.5;
}
.footer-bottom-section {
  width: 85%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
}
.important-links-wrapper {
  display: flex;
  width: 48%;
  line-height: 3;
  justify-content: space-around;
}
.event a,
.important-links a,
.footer-sub-section-link a {
  color: #0000ee;
}
.global-site-btn {
  display: flex;
  float: right;
  justify-content: flex-end;
  width: 50%;
 
}

.button .button {
  background-color:gray;
  border: 2px solid;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 4px 2px;
   border-radius: 40px;
   box-shadow: 11px 8px 8px 0px rgb(0 0 0 / 68%);
}

.footer-copyright {
  text-align: center;
  padding: 20px 0;
}
/* Contact-us page css */
.contact-us-heading {
  font-size: 2.5em;
    margin-left: 138px;
  margin-bottom: 35px;
}
.form-wrapper {
  margin-top: 30px;
  padding-top: 100px;
  width: 70%;
  margin: 28px auto;
  border: 2px solid;
  height: 57%;
  background-color: #C0C0C0;
}

.form-group {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
.form-label {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
}
.form-group input {
  border: 2px solid;
  padding: 10px 30px;
  color: #000;
  font-size: 18px;
  outline: none;
}
.form-group textarea {
  border: 2px solid;
  padding: 10px 30px;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  margin-left: 10px;
  margin-top: 10px;
}
.submit-button button {
  width: 24%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.678);
  background-color: #808080;
  color:#000;
}
