.main-container{
  width: 100%;
  padding: 2%;
}
.header{
  display: block;
}
.title-section{
  height: 50px;
  width: 97%;
  display: inline-block;
  background-color: rgb(135, 232, 245);
  font-weight: bold;
  font-size: 30px;
  padding: 1%;
}
.container{
  display: block;
  
}
.left {
  display: inline-block;
  background-color: rgb(134, 250, 169);
  height: 300px;
  width: 60%;
  padding: 2%;
}
.lower-content{
  padding:4%;
  background-color: white;
  padding-left:2%;
  
}
.upper-content {
  padding: 4%;
  background-color: white;
  padding-left: 2%;
  margin-bottom: 10px;
}
.right {
  display: inline-block;
  background-color: pink;
  height: 300px;
  width: 38%;
  padding-top: 109px;
  padding-left: 10px;
  margin-left: -14px;
}
.right-content-section {
  padding: 4%;
  margin-top: 4px;
  padding-left: 1%;
  font-size: 16px;
}
.p{
  margin-top: 10px;
  font-size: 16px;
}

.h1.upper-content{
  font-weight: bold;
  
}
.heading{
  font-weight: bold;
  font-size: 20px;
}
.heading-wrapper {
  font-weight: bold;
  font-size: 20px;
  margin-top: -63px;
  display: inline-block;
}