.main-container{
  width: 1200px;
  height: 900px;
  margin: auto;
}
.header-wrapper{
    width: 1000px;
    height: 10%;
    background-color: #000000c5;
    margin: auto;
    border: #979694 4px solid;
    color: #fff;
}
.header{
   width: 1000px;
  text-align: center;
    padding-top: 1.5%;
    font-size: 2em;
    margin: auto;
}
.section-body{
  width: 1000px;
  border: #000 2px solid;
  margin: auto;
  height: 900px;
  background-color: rgb(129, 135, 136);
}
.form-label{
  margin-left: 270px;
}
.form-group{
  line-height: 3;
}
.form-control{
  margin: auto;
}
.problems-wrapper {
  margin-left: 270px;
  border: 2px solid;
  width: 469px;
}

.submit-btn{
  margin-top: 30px;
}
.btn-submit{
  margin-left: 470px;
}
.btn{
  float: right;
}