.main-container{
    width: 1355px;
    height: 1500px;
    margin:auto;
    
}
.header{
    width: 90%;
    margin: auto;
    height:5%;
    background-color:#F2D2BD;
    border: 4px solid;
    border-radius: 50px;
    font-family: "sans-serif";
    padding: 2px 0px;
    margin-top: 20px;
    color:grey;
    font-size: 35px;
    text-align: center;
   
    
}
#quiz {
    margin: auto;
  
    font-size: 2em;
}
.header-wrapper{
    margin-top: 10px;
}
.grid {
   
    width: 90%;
    height: 700px;
    margin: 15px;
    background-color: rgb(192, 192, 192);
    padding: 0px 38px 0px 50px;
    border-radius: 50px;
    border: 9px solid #e4d0d0;
    box-shadow: 10px 15px 5px #cbcbcb;
    display: inline-flex;
    margin-left: 72px;
}
    
    .buttons img
    {
    width:200px;
    height: 200px;
    
    }
    .button img
    {
    width:200px;
    height: 200px;
    
    }
    

    
    
    #result {
    color: #800020;
    text-align: center;
    font-size: 2em;
    display: inline-flex;
    margin-top: 100px;
    }
    h2{
        color: #800020;
        text-align: center;
      font-size: 2em;
      font-weight: bold;
      margin:auto;
      margin-top: 60px;
    }
    
    .grid #question{
    font-family: "monospace";
    font-size: 30px;
    color: #800020;
    margin-top: 60px;
    }
    
    
    .buttons-wrapper{
        display: flex;
        height: 50px;
    }
    .buttons {
        margin-top: 30px;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        object-fit: cover;
        height: 100px;
        }
        .button-wrapper{
            display: flex;
            height: 50px;
            margin-top: 184px;
        }
        .button {
            margin-top: 30px;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            object-fit: cover;
            height: 100px;
            }
    
    #btn0,
    #btn1,
    #btn2,
    #btn3 {
    
        padding: 4px;
        padding-bottom: 203px;
        font-size: 20px;
        color: #fff;
        border: none;
        margin: 10px 20px 10px 0px;
        height: 10px;
    }
    #btn4,
    #btn5,
    #btn6,
    #btn7 {
    
        padding: 4px;
        padding-bottom: 203px;
        font-size: 20px;
        color: #fff;
        border: none;
        margin: 10px 20px 10px 0px;
        height: 10px;
    }
    
    
    
    #btn0:hover,
   #btn1:hover,
   #btn2:hover,
    #btn3:hover,
    #btn4:hover,
    #btn5:hover,
    #btn6:hover,
     #btn7:hover {
cursor: pointer;
background-color: #800020;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus,
#btn4:focus,
#btn5:focus,
#btn6:focus,
#btn7:focus {
outline: 0;
}
.footer-wrapper {
    display: inline-flex;
    margin-top: 240px;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
    }
